/*=========================================================*/
/*===== MEDIA QUERIES =====================================*/
@media (min-width: 1024px) {

    /*=== GERAL ===============================================*/
    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }
    .col-a {
        grid-area: A;
    }
    .col-b {
        grid-area: B;
    }

    /*===== START =======================================================*/
    #start {
        background: url(../images/bg-pattern-intro-desktop.svg) no-repeat, linear-gradient(to right, var(--Very-light-red), var(--Light-red));
        background-position: 30% 40%;

        height: 60rem;

        border-radius: 0 0 0 10rem;
    }
    #start .navigation {
        gap: 6.5rem;
    }
    #start .navigation nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .line,
    #start .navigation button.close-menu,
    #start .navigation button.open-menu {
        display: none;
    }
    #start .navigation .menu {
        display: flex;
        gap: 4rem;
    }
    #start .navigation .accordion-link {
        color: var(--White);
        cursor: pointer;
    }
    #start .loginAndSignUp li:first-child a::after,
    #start .navigation .accordion-link::after{
        content: "";
        width: 0%;
        height: .2rem;
        display: block;
        background-color: #fff;
        transition: 200ms;
    }
    #start .loginAndSignUp li:first-child a:hover::after,
    #start .navigation .accordion-link:hover::after {
        width: 100%;
    }
    .accordion-item .accordion-link svg path {
        stroke: var(--White);
    }
    #start .navigation .accordion-item .drop {
        position: absolute;

        width: 17rem;

        transform: translateX(-2rem);
    }
    #start .navigation .loginAndSignUp {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    #start .navigation .loginAndSignUp a {
        color: var(--White);
    }
    #start .loginAndSignUp li:last-child a {
        padding-block: 1rem;
        padding-inline: 4rem;

        background: var(--White);
        color: var(--Very-light);

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 5rem;
    }
    #start .loginAndSignUp li:last-child a:hover {
        color: var(--White);
    }
    #start .loginAndSignUp li:first-child a {
        display: inline-block;       
    }
    #start header h2{
        font-size: 5rem;
    }

    /*===== DESIGNED FOR THE FUTURE ===============================*/
    #designedForTheFuture{
        position: relative; 

        overflow: hidden;               
    }
    #designedForTheFuture::before{
        content:url(../images/illustration-editor-desktop.svg);
        
        position: absolute;       
        left: 55%;
        top: 5rem;       
       
    }    
    #designedForTheFuture .cols{
        display: grid;
        grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		'B A';
        
    }
    #designedForTheFuture .col-b p,
    #designedForTheFuture .col-b h3{
        text-align: left;        
    }
    #designedForTheFuture .col-a{
        opacity: 0;
        visibility: hidden;
    }

    /*===== STATE OF THE ART INFRASTRUCTURE =======================*/
    section#stateOfTheArtInfrastructure {   
        background: url(../images/bg-pattern-circles.svg) no-repeat, linear-gradient(to right, var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
        background-size: 92rem, 270rem;
        background-position: -14rem -48rem;
        height: 40rem;        
        padding-bottom: 0;     
    }   
    section#stateOfTheArtInfrastructure .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'A B';

        height: 100%;
    }
    section#stateOfTheArtInfrastructure .col-a {        
        position: relative;
    }
    #stateOfTheArtInfrastructure .col-a img {
        width: 54rem;

        position: absolute;
        left: -5rem;
        top: -6rem;

        transform: none;
    }
    section#stateOfTheArtInfrastructure .col-b {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    section#stateOfTheArtInfrastructure .col-b div{
        width: 50.4rem;  
        transform: none                  
    }
    section#stateOfTheArtInfrastructure h2 {
        padding-top: 0;
        text-align: left;
    }    
    section#stateOfTheArtInfrastructure .col-b p {
        color: var(--White);
        padding-top: 2.5rem;
        text-align: left;
    }
    
    /*===== FREE OPEN SIMPLE ======================================*/
    #freeOpenSimple{    
        padding-block: 20rem;                 
    }   
    #freeOpenSimple .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:'A B';       
    }
    #freeOpenSimple .col-a{
        position: relative;
    }
    #freeOpenSimple .col-a img{
        position: absolute;
        left: -35rem;
        top: -7rem;
        width: 87rem        
    }
    #freeOpenSimple .col-b p,
    #freeOpenSimple .col-b h3{
        text-align: left;
    }

    /*===== FOOTER ===============================================*/
    footer{
        padding-block: 7rem;     
    }
    footer .wrapper{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    footer .menu-footer{
        padding-bottom: 0;
    }
}