/*===== GERAL =================================================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{    
    /*Primary color*/
    --primary-light: hsl(356, 100%, 66%); /*(CTA text):*/
    --Very-light: hsl(355, 100%, 74%); /*(CTA hover background)*/
    --Very-dark: hsl(208, 49%, 24%); /*(headings)*/

    /*Neutral*/
    --White: hsl(0, 0%, 100%); /*(text)*/
    --Grayish: hsl(240, 2%, 79%); /*(footer text)*/
    --Very-dark-grayish: hsl(207, 13%, 34%); /*(body copy)*/
    --Very-dark-black: hsl(240, 10%, 16%); /*(footer background)*/

    /*Gradient*/
    /*Background gradient - Intro/CTA mobile nav:*/
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);

    /*Background gradient - body:*/
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

    font-size: 62.5%; /* 1rem = 10px */
}
html,
body{
	width: 100%;
	height: 100%;    
}
body{
    /* font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;    
}
h2{    
    font-size: 3.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--White);
    line-height: 140%;
}
h3{
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    color: var(--Very-dark);

    padding: 6rem 0 3rem;
}
h4{
    font-size: 1.8rem;
    color: var(--White);

    padding-bottom: 4rem;
}
a{
    text-decoration: none;   
}
ul{
    list-style: none;
}
button{
	background: none;
	border: none;
	cursor: pointer;
}
p{
    font-family: 'Overpass', sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 300;
    text-align: center;
    color: var(--Very-dark-grayish);
}
.wrapper{
	width: min(37.5rem, 100%);	
	margin-inline: auto;
	padding-inline: 2.5rem;   
}
.col-a img{    
    width: min(37.5rem, 100%);      
}

/*===== START =================================================*/
#start{
    background: url(../images/bg-pattern-intro-mobile.svg) no-repeat,linear-gradient( var(--Very-light-red), var(--Light-red));  
    background-position:36% 35%; 

    height: 65rem;

    border-radius: 0 0 0 10rem;
}
#start .navigation{
    display: flex;
    justify-content: space-between;

    padding-top: 5.5rem;
}
#start .navigation button.close-menu,
#start .navigation nav{
   display: none;  
}
#start header h2{
    padding-top: 11.6rem;
}
#start header p{        
    font-weight: 400;
    font-size: 2rem;   
    color: var(--White);

    padding-top: 2.5rem;
    padding-bottom: 5.2rem;
}
#start header a{
    width: 15rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;

    border-radius: 5rem;        
}
#start header a:nth-child(1){
    background-color: var(--White);
    color: var(--Light-red);
}
#start header a:nth-child(2){
    border: 1px solid var(--White);
    color: var(--White);
}
#start .headerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/*===== MENU-EXPENDED =========================================*/
body.menu-expended{
    overflow: hidden;
}
body.menu-expended #start .navigation nav{
    position: fixed;
    top: 12.5rem;
    left: 0;

    width: 80%;
    margin-inline: 10%;

    display:flex;
    flex-direction: column;
    align-items: center;    

    
    background-color: var(--White);
    border-radius: 0.5rem;    
}
.menu-expended .navigation .menu{
    display: flex;
    flex-direction: column;
    gap: 4rem;
   
    height: 100%;    
    
    padding-block: 3.5rem;
}
.menu-expended .navigation li>ul{
    display: none;
}
.menu-expended .navigation .menu a{
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--Very-dark);    
}
.menu-expended .navigation .menu a img{
    padding-left: 0.5rem;
}
.menu-expended .navigation nav .line{
   width: 80%;
   height: 1px;
   background-color: var(--Grayish);
}
.menu-expended .navigation .loginAndSignUp{
    padding-block: 3rem;
    text-align: center;
}
.menu-expended .navigation .loginAndSignUp li:last-child,
.menu-expended .navigation .loginAndSignUp li:first-child{
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    font-weight: 600;   
}
.menu-expended .navigation .loginAndSignUp li:first-child a{
    color: var(--Very-dark);
}
.menu-expended .navigation .loginAndSignUp li:last-child a{
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--White);

    width: 15rem;
    height: 5rem;
    background: linear-gradient( to right, var(--Very-light-red), var(--Light-red));    

    border-radius: 5rem;

    margin-top: 2rem;
}



/*===== DESIGNED FOR THE FUTURE ===============================*/
#designedForTheFuture{
    margin-bottom: 27.5rem;   
}

#designedForTheFuture header h3{
    padding: 10.5rem 0 5rem;    
}
#designedForTheFuture .col-a{
    display: flex;   
    justify-content: center;     
}

/*===== STATE OF THE ART INFRASTRUCTURE =======================*/
#stateOfTheArtInfrastructure{
    background: url(../images/bg-pattern-circles.svg) no-repeat,linear-gradient( var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue)); 
    background-position:50% -1000%;  
    background-size: 60rem, auto, auto;

    border-radius: 0 10rem 0 10rem;  
    
    margin-bottom: 8rem;
}
#stateOfTheArtInfrastructure .col-a{
    display: flex;
    justify-content: center;
}
#stateOfTheArtInfrastructure h3{
    padding-top: 0;
}
#stateOfTheArtInfrastructure .phone{     
    transform: translateY(-17rem);
}
#stateOfTheArtInfrastructure .col-b{
    transform: translateY(-13rem);   
}
#stateOfTheArtInfrastructure .col-b p{
    color: var(--White);
    padding-top: 2.5rem;    
}

/*===== FREE OPEN SIMPLE ======================================*/
#freeOpenSimple{
    margin-bottom: 10rem;
}
#freeOpenSimple .col-a{
    display: flex;
    justify-content: center;
}

/*===== FOOTER ===============================================*/
footer{   
    background-color: var(--Very-dark-black);

    border-radius: 0 10rem 0 0;

    padding-block: 7.5rem;
}
footer .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a.logo{
    padding-bottom: 8rem;
}
footer .menu-footer a{
    font-size: 1.8rem;
    line-height: 180%;
    color: var(--Grayish);    
}
footer .menu-footer{
    padding-bottom: 6rem;
}
footer .menu-footer:last-child{
    padding-bottom: 0;
}

